body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
}

.container {
    height: 415px;
    width: 230px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
    padding: 20px;
    /* center on the page */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 18px;
    margin: 12px 0;
}

.description {
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    margin-bottom: 16px;
    font-weight: 300;
}

.eth {
    display: inline-block;
    font-size: 12px;
    color: hsl(178, 100%, 50%);
    text-align: left;
    margin-bottom: 12px;
}

.time {
    display: inline-block;
    font-size: 12px;
    color: hsl(215, 51%, 70%);
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

a:hover {
    color: hsl(178, 100%, 50%);
}

.card-title {
    font-weight: 600;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #fff;
    height: 25px;
    width: 25px;
    vertical-align: middle; /* apply the vertical align to the image. Since it's all in one line, it's really the image you want aligned, not the text. */

}

.creator {
    display: inline-block;
    margin-left: 5px;
    color: hsl(215, 51%, 70%);
    margin-bottom: 16px;
    font-size: 10px;
}

hr {
    background-color: hsl(215, 32%, 27%);
    border: none;
    height: 0.5px;
    margin-bottom: 10px;
}

.svg-icon {
    display: inline-block;
    vertical-align: middle;
}

.inline {
    display: inline;
}

.card-img {
    border-radius: 8px;
    height: auto;
    width: 100%;
}

.cover-div {
    position: absolute;
    top: 0;
    margin-top: 20px;
    height: 230px;
    width: 230px;
    border-radius: 8px;
    background-color: hsl(178, 100%, 50%, 0.5);
    opacity: 0;
    transition: .3s ease;
}

.card-view {
    height: 32px;
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image:hover {
    cursor: pointer;
}

.image:hover .card-view {
    opacity: 1;
}

.image:hover .cover-div {
    opacity: 1;
}